<div
  class="flex gap-2 h-16 items-center justify-between px-4 lg:px-8 border-b border-slate-200 bg-white"
>
  <div
    class="flex w-full max-w-45 sm:max-w-sm items-center gap-2 rounded-lg bg-slate-100 px-3 py-2 text-slate-500 transition-all focus-within:ring-2 focus-within:ring-blue-500/20"
  >
    <lucide-icon class="size-4 shrink-0 text-slate-400" [img]="search"></lucide-icon>
    <input
      type="text"
      placeholder="Search shipments, IDs, or customers..."
      class="w-full bg-transparent text-sm text-slate-700 placeholder-slate-400 focus:outline-none"
    />
  </div>

  <div class="flex items-center gap-4 sm:gap-6">
    <lucide-icon
      class="size-6 hover:cursor-pointer text-slate-600 hover:text-slate-900 transition-colors"
      [img]="bellDot"
    ></lucide-icon>

    <div class="hidden sm:block h-6 w-px bg-slate-200"></div>

    <div class="flex gap-4 items-center">
      <div class="lg:flex flex-col hidden">
        <span class="font-semibold">{{userName}}</span>
        <span class="text-gray-500 font-medium">{{userRole}}</span>
      </div>
      @if (userImage) {
        <img [ngSrc]="userImage" class="block w-10 h-10 rounded-full object-cover ring-1 ring-gray-200"  alt="User Avatar"/>
      } @else {
        <div class="flex w-10 h-10 rounded-full bg-gray-300 items-center justify-center text-xl font-medium text-gray-700"
        >{{initial}}</div>
      }
    </div>
  </div>
</div>
