<div class="flex flex-col justify-between h-full">
<ul class="flex flex-col py-2 gap-2">
  @for (sidebarItem of sidebarItems; track $index) {
    <li class="px-2">
      <app-sidebar-item
        [label]="sidebarItem.label"
        [icon]="sidebarItem.icon"
        [route]="sidebarItem.route"
      ></app-sidebar-item>
    </li>
  }
</ul>

<div class="py-2 px-2">
  <hr class="text-slate-200 my-2" />
  <app-sidebar-item
    [label]="settings.label"
    [icon]="settings.icon"
    [route]="settings.route"
  ></app-sidebar-item>
  <app-sidebar-item
    [label]="logOut.label"
    [icon]="logOut.icon"
    [route]="logOut.route"
  ></app-sidebar-item>
</div>
</div>
